<div >
  
  <div class="row">
      <div class="col-md-6 col-md-offset-3 input-grocery">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Enter grocery items" [(ngModel)]="task" />
              <div class="input-group-btn">
                  <button class="btn btn-primary" type="button" (click)="onClick()">
      <span class="glyphicon glyphicon-ok"></span>
      </button>
              </div>
          </div>
      </div>
  </div>

  <br />

  <ul class="list-group col-md-6 col-md-offset-3">
      <li *ngFor="let task of tasks" class="list-group-item">
        <input type="checkbox" (change)="removeItem(task, $event)"/> 
        <span class="completed-item"> {{ task }} </span>
      </li>
  </ul>


</div>